@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #d6c19a; /* สีพื้นหลังของแทร็ค (track) */
  outline: none;
}

/* สีของแทร็คเมื่อเลื่อน */
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 4px;
  background: #d6c19a;
}

/* สี Thumb (ปุ่มเลื่อน) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #826d5a; /* สีปุ่ม */
  cursor: pointer;
  margin-top: -6px; /* จัดให้ thumb อยู่กึ่งกลาง track */
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* Firefox */
input[type="range"]::-moz-range-track {
  height: 8px;
  border-radius: 4px;
  background: #d6c19a;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #826d5a;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
